body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.logo{
  border-radius: 50%;
  width: 150px;
}


h1 {
  font-size: 5rem;
}

#c{
  transition-duration: 0.2s;
}
#c:hover{
  font-size: 1.1em;
  transition-duration: 0.2s;
}

#mission{
  color: #191970;
  font-size: 4rem;
  text-align: center;
}

hr{
  width: 100%;
  border: 1px dashed #191970;
}

#footer1 {
  float: left;
  font-size: 1rem;
  color: #191970;
}

#footer2 {
  float: right;
  font-size: 1rem;
  color: #191970;
}

.card{
  width: 45%;
}

.left.card{
  float: left;

}

.right.card{
  float: right;
}

.tile-image{
  border-radius: 5%;
  margin-right: 50px;
  float: left;
  height: 200px;
}

@media (max-width: 680px) {
  .logo{
    display: block;
    margin: 0 auto;
    width: 150px;
  }

  .card{
    width: 100%;
    display: block;
    margin-bottom: 40px;
    text-align: justify;
  }

  h1{
    margin: 0px;
    font-size: 2.0rem;
    text-align: center;
  }

  #mission{
    font-size: 2rem;
  }
  

  .card img{
    border-radius: 5%;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    display: inline;
  }

  body{
    font-size: 0.85em;
  }
}